<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simply the Best!</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @*<link href="~/Content/CustomNavbar.css" rel="stylesheet" />*@
    <link href="~/Content/themes/base/jquery.ui.base.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>

</head>
<body style="background-color:#FFB6B2;">
    <div class="navbar-default navbar-fixed-top navbar-brand rounded" style="padding-bottom: 0px; padding-top: 0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Dragon Scoops", "Index", "ClubModels", new { area = "" }, new { @class = "navbar-brand" })*@
            <div class="navbar-collapse collapse">
               
                <ul class="nav navbar-nav" >
                        <li class="dropdown">
                            <button class="btn btn-default navbar-btn dropdown-toggle navDrop" type="button" id="menu1" data-toggle="dropdown" style="background-color: aqua; border: 0px;">
                                Menu
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" @Html.ActionLink("Flavors", "Index", "FlavorsModels")</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" @Html.ActionLink("Events", "Index", "ClubModels")</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" @Html.ActionLink("About", "About", "Home")</li>
                                @*<li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Newsletter</a></li>*@
                            </ul>
                        </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Order Online", "Index", "OrderModels")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sign Up", "Create", "CustomerModels", new { area = "" }, new { @class = "btn btn-default navbar-btn bright fixed" })</li>
                </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        

        <footer>
            <p>&copy; @DateTime.Now.Year - Dragon Scoops</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
